/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.hyperlink {
	-fx-font-size: 14pt;
	-fx-text-fill: black;
	-fx-font-weight: bold;
    -fx-border-style: hidden;
}

.hyperlink:visited {
	-fx-underline: false;
	-fx-background-color: #a3a3a3;
}

.hyperlink:hover {
   -fx-text-fill: #606060;
   -fx-underline: true;
}

